<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo alumno</title>
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="jumbotron">
	<h1>Producto <span th:text="${nombre}" style="color: #59B359"></span> guardado exitosamente!</h1>
  	<form method="get" action="/producto">
    	<button class="btn btn-primary" type="submit">Nuevo Producto</button>
	</form>
</div>
    
</body>
</html>