<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>¡Ingreso exitoso!</title>
<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="jumbotron">
  <h1 class="display-3">¡Contribuyente guardado con éxito!</h1>
  <hr class="my-4">
  <p>Para agregar otro puedes pulsar el botón de "Regresar".</p>
  <p class="lead">
    <a class="btn btn-outline-success" href="/" role="button">Regresar</a>
    <a class="btn btn-outline-primary" href="/contribuyentes" role="button">Ver Contribuyentes</a>
  </p>
</div>
</body>
</html>